body {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
header {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
h1 {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
h2 {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
h3 {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
h4 {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
h5 {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
h6 {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
hr {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
p {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
blockquote {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
dl {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
dt {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
dd {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
ul {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
ol {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
li {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
pre {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
form {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
fieldset {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
legend {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
button {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
input {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
textarea {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
th {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
td {
	margin: 0px; padding: 0px; -ms-word-wrap: break-word;
}
* {
	margin: 0px; padding: 0px;
}
body {
	font: 12px/1.5 tahoma, arial, ו, sans-serif; font-size-adjust: none; font-stretch: normal;
}
html {
	font: 12px/1.5 tahoma, arial, ו, sans-serif; font-size-adjust: none; font-stretch: normal;
}
input {
	font: 12px/1.5 tahoma, arial, ו, sans-serif; font-size-adjust: none; font-stretch: normal;
}
img {
	border: currentColor;
}
pre {
	white-space: pre-wrap; -ms-word-wrap: break-word;
}
h1 {
	font-size: 100%;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
input.dialog {
	border: currentColor; height: 0px; line-height: 0; font-size: 0px;
}
h1 {
	font-size: 34px;
}
h2 {
	font-size: 26px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
input {
	vertical-align: middle;
}
label {
	vertical-align: middle;
}
img {
	vertical-align: middle;
}
th {
	vertical-align: middle;
}
.font-fixh {
	color: rgb(255, 0, 0); font-family: Georgia, Arial; font-size: 16px; font-weight: 700;
}
address {
	font-style: normal;
}
cite {
	font-style: normal;
}
dfn {
	font-style: normal;
}
em {
	font-style: normal;
}
var {
	font-style: normal;
}
code {
	font-family: courier new, courier, monospace;
}
kbd {
	font-family: courier new, courier, monospace;
}
pre {
	font-family: courier new, courier, monospace;
}
samp {
	font-family: courier new, courier, monospace;
}
input.button {
	padding: 0.25em; width: auto; _width: 0;
}
input.btn {
	padding: 0.25em; width: auto; _width: 0;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.white {
	color: rgb(255, 255, 255);
}
.white a {
	color: rgb(255, 255, 255);
}
.blue {
	color: rgb(0, 68, 153);
}
.blue a {
	color: rgb(0, 68, 153);
}
.gray4 {
	color: rgb(153, 153, 153);
}
a.gray4 {
	color: rgb(153, 153, 153);
}
.red {
	color: red;
}
.red a {
	color: red;
}
a.red {
	color: red;
}
.green {
	color: rgb(14, 119, 74);
}
.blue {
	text-indent: 0px;
}
select optgroup {
	color: rgb(202, 200, 187);
}
header {
	display: block;
}
.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
}
.ib {
	display: inline-block; -ms-zoom: 1;
}
.ib-a a {
	display: inline-block; -ms-zoom: 1;
}
.clear::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.main::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.clear {
	display: inline-block;
}
.main {
	display: inline-block;
}
* html .clear {
	height: 1%;
}
* html .main {
	height: 1%;
}
.clear {
	display: block;
}
.main {
	display: block;
}
.f12 {
	font-size: 12px;
}
.f14 {
	font-size: 14px;
}
.f16 {
	font-size: 16px;
}
.f18 {
	font-size: 18px;
}
.f20 {
	font-size: 20px;
}
.lh20 {
	line-height: 20px;
}
.lh22 {
	line-height: 22px;
}
.lh24 {
	line-height: 24px;
}
.lh26 {
	line-height: 26px;
}
.lh28 {
	line-height: 28px;
}
.fb {
	font-weight: bold;
}
.fn {
	font-weight: normal;
}
.bk {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk3 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk6 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk8 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk10 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk15 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk20 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk30 {
	height: 0px; line-height: 1px; clear: both; font-size: 1px;
}
.bk3 {
	height: 3px;
}
.bk6 {
	height: 6px;
}
.bk8 {
	height: 8px;
}
.bk10 {
	height: 10px;
}
.bk15 {
	height: 15px;
}
.bk20 {
	height: 20px;
}
.bk30 {
	height: 30px;
}
.cu {
	cursor: pointer;
}
.cu-li li {
	cursor: pointer;
}
.cu-span span {
	cursor: pointer;
}
.text-c {
	text-align: center;
}
.text-l {
	text-align: left;
}
.text-r {
	text-align: right;
}
.lf {
	float: left;
}
.rt {
	float: right;
}
.pr {
	position: relative;
}
.pa {
	position: absolute;
}
.img-wrap {
	border: 1px solid rgb(238, 238, 238); text-align: center; overflow: hidden;
}
.img-wrap a {
	overflow: hidden; vertical-align: middle; display: table-cell; background-color: rgb(255, 255, 255);
}
.img-wrap a:hover {
	background-color: rgb(232, 239, 246);
}
.col-left {
	float: left;
}
.col-auto {
	overflow: hidden; _zoom: 1; _float: left;
}
.col-right {
	float: right;
}
.clear {
	clear: both;
}
