body {
	font-family: "Î¢ÈíÑÅºÚ"; background-color: rgb(239, 239, 244);
}
.activity-wrap {
	margin: 0px auto; max-width: 1200px;
}
header {
	width: 100%; height: 60px; text-align: center; line-height: 60px; position: relative; background-color: rgb(92, 171, 223);
}
header span {
	color: rgb(255, 255, 255); font-size: 18px;
}
header .backBtn {
	left: 20px; top: 0px; position: absolute;
}
header .backBtn img {
	width: 20px; height: 35px;
}
section.banner {
	width: 100%;
}
section.banner img {
	width: 100%;
}
.activity-titles-bg {
	padding: 8px 0px 3px; background-color: rgb(255, 255, 255);
}
.activity-titles {
	color: rgb(0, 0, 0); padding-top: 10px; font-size: 14px; display: block;
}
.activity-state span.in {
	padding: 2px 5px; border-radius: 5px; color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(160, 212, 104);
}
.activity-state span {
	padding: 2px 5px; border-radius: 5px; color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(170, 170, 170);
}
.activity-state-cost {
	margin: 5px 0px 0px; color: rgb(160, 212, 104); font-size: 14px;
}
.activity-container {
	margin: 10px 0px; padding: 10px 0px; background-color: rgb(255, 255, 255);
}
.activity-infor-list {
	width: 100%;
}
.activity-infor-list ul {
	
}
.activity-infor-list ul li {
	padding: 5px 0px 5px 20px;
}
.activity-infor-list ul li span.item1 {
	background: url("../images/icon-times.png") no-repeat left 8px / 20px 20px; display: block;
}
.activity-infor-list ul li span.item2 {
	background: url("../images/icon-address.png") no-repeat left 8px / 20px 20px; display: block;
}
.activity-infor-list ul li span.item3 {
	background: url("../images/icon-endtimer.png") no-repeat left 8px / 20px 20px; display: block;
}
.activity-infor-list ul li span.item4 {
	background: url("../images/icon-peoples.png") no-repeat left 8px / 20px 20px; display: block;
}
.activity-infor-list ul li span.item5 {
	background: url("../images/icon-tele.png") no-repeat left 8px / 20px 20px; display: block;
}
.activity-infor-list ul li span {
	padding-left: 25px;
}
.activity-infor-list ul li span b {
	padding: 6px 0px 10px; font-size: 14px; font-weight: normal; border-bottom-color: rgb(200, 199, 204); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.activity-infor-list ul li a.adressMap {
	text-decoration: none;
}
.activity-infor-list ul li a.adressMap:hover {
	text-decoration: none;
}
.activity-infor-list ul li a.adressMap:visited {
	text-decoration: none;
}
.fontRed {
	color: rgb(255, 0, 0);
}
.fontGreen {
	color: rgb(160, 212, 104);
}
.activity-users {
	padding: 20px 0px 0px;
}
.activity-users img {
	width: 70%;
}
.activity-users p {
	margin: 10px 0px; font-size: 12px;
}
.activity-titles-globles {
	width: 100%; padding-bottom: 5px; border-bottom-color: rgb(200, 199, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.activity-titles-globles h4 {
	color: rgb(0, 0, 0); padding-left: 35px; font-size: 14px; float: left; position: relative;
}
.activity-titles-globles h4 span.icons {
	left: 20px; top: 0px; width: 5px; height: 15px; display: block; position: absolute; background-color: rgb(92, 171, 223);
}
.activity-titles-globles .moreBtn {
	margin: 7px 15px 0px 0px; float: right;
}
.activity-titles-globles .moreBtn img {
	width: 10px; height: 17px;
}
.activity-introduction {
	margin-top: 15px;
}
.activity-introduction p {
	color: rgb(90, 90, 90); font-size: 14px;
}
.activity-introduction p span {
	color: rgb(92, 171, 223);
}
.activity-details {
	
}
.activity-details p {
	color: rgb(90, 90, 90); line-height: 180%; font-size: 14px; margin-top: 15px;
}
.activity-introduction p img {
	margin: 10px 0px; width: 100%;
}
.activity-details p img {
	margin: 10px 0px; width: 100%;
}
.activity-feedback {
	margin: 0px auto; width: 98%; border-bottom-color: rgb(213, 213, 213); border-bottom-width: 1px; border-bottom-style: dashed;
}
.activity-feedback .head-portrait {
	padding: 15px 0px; width: 100%; display: table;
}
.activity-feedback .head-portrait div {
	vertical-align: middle; display: table-cell;
}
.activity-feedback .head-portrait div.pic-area {
	width: 80px; text-align: center;
}
.activity-feedback .head-portrait div.pic-area img {
	width: 50px; height: 50px;
}
.activity-feedback .head-portrait div.txt-area {
	width: auto;
}
.activity-feedback .head-portrait div.txt-area .name {
	color: rgb(92, 171, 223); font-size: 12px;
}
.activity-feedback .head-portrait div.txt-area .time {
	color: rgb(90, 90, 90); font-size: 10px;
}
.activity-feedback .activity-feedback-content p {
	color: rgb(90, 90, 90); line-height: 180%; font-size: 12px;
}
.activity-feedback .activity-pic img {
	margin: 10px 0px; width: 70%;
}
.activity-feedback .activity-reply {
	margin: 15px 0px;
}
.activity-feedback .activity-reply span.name {
	color: rgb(92, 171, 223); font-size: 14px;
}
.activity-feedback .activity-reply span.name b {
	padding: 2px 3px; border-radius: 2px; color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(255, 153, 0);
}
.activity-feedback .activity-reply span.name em {
	padding: 0px 5px; color: rgb(0, 0, 0);
}
.activity-feedback a.more-reply-btn {
	color: rgb(92, 171, 223); font-size: 12px;
}
.on {
	display: none;
}
.activity-feedback-bigpic {
	
}
.activity-feedback-bigpic img {
	margin: 15px 0px; width: 100%; display: block;
}
.activity-integral-bg {
	background-color: rgb(255, 255, 255);
}
.activity-integral {
	
}
.activity-integral h3 {
	color: rgb(0, 0, 0); padding-left: 15px; font-size: 14px;
}
.activity-integral p {
	color: rgb(90, 90, 90); font-size: 12px;
}
.activity-integral .integral-cont {
	padding-right: 15px; margin-left: 15px; border-bottom-color: rgb(200, 199, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.activity-integral .integral-cont p {
	color: rgb(90, 90, 90); line-height: 180%; font-size: 12px;
}
.activity-integral span.titles {
	color: rgb(92, 171, 223); font-size: 12px; font-weight: bold;
}
.activity-integral span.col-left-name {
	color: rgb(90, 90, 90); font-size: 12px;
}
.activity-integral span.col-right-red {
	color: rgb(253, 71, 43); font-size: 12px;
}
.activity-integral span.col-right-green {
	color: rgb(69, 192, 24); font-size: 12px;
}
.line180 {
	line-height: 180%;
}
.activity-integral .integral-grade {
	
}
.activity-integral .integral-grade p {
	margin: 0px; text-align: center;
}
.activity-integral .integral-grade p:first-child {
	color: rgb(0, 0, 0); font-size: 14px;
}
.activity-integral .integral-grade p:last-child {
	color: rgb(189, 189, 189); font-size: 12px;
}
.loading {
	background: url("../images/loading.gif") no-repeat left; margin: 0px auto; width: 100px; height: 16px; text-align: left; padding-left: 20px; font-size: 12px;
}
.activity-reg-btn-bg {
	left: 0px; width: 100%; height: 50px; bottom: 0px; position: fixed; opacity: 0.9; background-color: rgb(239, 239, 244);
}
.activity-reg-btn-bg .reg-btn {
	margin: 0px auto; border-radius: 5px; left: 5%; top: 5px; width: 90%; height: 40px; text-align: center; color: rgb(255, 251, 240); line-height: 40px; font-size: 16px; position: absolute; background-color: rgb(253, 71, 43);
}
.activity-reg-btn-bg .disable-btn {
	background-color: rgb(170, 170, 170);
}
.funcTitles {
	margin: 15px 0px; width: 100%; text-align: center; color: rgb(0, 0, 0); font-size: 14px;
}
.aboutus p {
	line-height: 180%; text-indent: 20px;
}
.funcTitles span {
	padding: 0px 5px; color: rgb(90, 90, 90); font-size: 9px;
}
.reg-agree {
	padding: 0px 0px 15px;
}
.reg-agree p {
	color: rgb(90, 90, 90); line-height: 180%; text-indent: 20px; font-size: 12px;
}
.reg-agree h3 {
	color: rgb(0, 0, 0); font-size: 14px;
}
.reg-agree h4 {
	color: rgb(0, 0, 0); font-size: 12px;
}
